<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>
</head>

<body>

Dear $addressee,
<br />
<br />
Please check the human information from Timecard below, and update to P6 Resource.! <br />
<br>
<table width="2000" border="1" cellpadding="1" cellspacing="1" bordercolor="#0099FF">
  <tr>
    <td width="100" bgcolor="#94AAD6"><font color="#FFFFFF"><strong>Operation</strong> </font></td>
    <td width="100" bgcolor="#94AAD6"><font color="#FFFFFF"><strong>Unit Code</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Employee Id</strong></font></td>
    <td width="250" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Name</strong></font></td>
    <td width="200" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Title</strong></font></td>
    <td width="100" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Rank</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Site</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Attribute</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>In Date</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Out Date</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Effective Date</strong></font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>RM Id</strong></font></td>
    <td width="250" bgcolor="#94aad6"><font color="#FFFFFF"><strong>RM Name</strong></font></td>
    <td width="300" bgcolor="#94aad6"><font color="#FFFFFF"><strong>E-Mail</strong></font></td>
    <td width="100" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Create User</strong></font></td>
    <td width="400" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Remark</strong></font></td>
  </tr>
  #foreach ($dd in $content)
  <tr>
    <td width="150">$!dd.operation &nbsp;</td>
    <td width="150">$!dd.unitCode &nbsp;</td>
    <td width="150">$!dd.employeeId &nbsp;</td>
    <td width="250">$!dd.fullName &nbsp;</td>
    <td width="200">$!dd.title &nbsp;</td>
    <td width="100">$!dd.rank &nbsp;</td>
    <td width="100">$!dd.site &nbsp;</td>
    <td width="150">$!dd.attribute &nbsp;</td>
    <td width="150">$!dd.inDate &nbsp;</td>
    <td width="150">$!dd.outDate &nbsp;</td>
    <td width="150">$!dd.effectiveDate &nbsp;</td>
    <td width="150">$!dd.resManagerId &nbsp;</td>
    <td width="250">$!dd.resManagerName &nbsp;</td>
    <td width="300">$!dd.email &nbsp;</td>
    <td width="100">$!dd.rcu &nbsp;</td>
    <td width="400">$!dd.remark &nbsp;</td>
  </tr>
  #end
</table>
<br />
--------------------------------------------------
<br />
This message was sent automatically by ESSP, please do not reply.<br />
<br />
Best regard,<br />
$addresser<br />
$date
</body>
</html>