[A1]title;
[A4]report,L,D;unitCode
[B4]report,L,D;unitName
[C4]report,L,D;loginId
[D4]report,L,D;chineseName
[E4]report,L,D;inDate
[F4]report,L,D;acntId
[G4]report,L,D;acntName
[H4]report,L,D;totalHours
[I4]report,L,D;sumHours
[J4]report,L,D;shiftHours
[K4]report,L,D;payedHours
[L4]report,L,D;usableHours