[A7]TimeDetail,L,D;begin
[B7]TimeDetail,L,D;end
[C7]TimeDetail,L,D;wpTotal,number
[D7]TimeDetail,L,D;currentPlan,number
[E7]TimeDetail,L,D;currentActual,number
[F7]TimeDetail,L,D;currentDelay,number
[G7]TimeDetail,L,D;totalPlan,number
[H7]TimeDetail,L,D;totalActual,number
[I7]TimeDetail,L,D;ratePlan
[J7]TimeDetail,L,D;rateActual
[K7]TimeDetail,L,D;variance,number
[L7]TimeDetail,L,D;score,number
[M7]TimeDetail,L,D;remark