[B2]acntName;
[D2]manager;
[L2]periodBegin;
[O2]periodEnd;
[B3]personNum;
[A5]dataTree,T,D,all,post,group;userId
[B5]dataTree,T,D,all,post;activityDisp
[C5]dataTree,T,D,all,post;jobDescription
[D5]dataTree,T,D,all,post;satHour
[E5]dataTree,T,D,all,post;sunHour
[F5]dataTree,T,D,all,post;monHour
[G5]dataTree,T,D,all,post;tueHour
[H5]dataTree,T,D,all,post;wedHour
[I5]dataTree,T,D,all,post;thuHour
[J5]dataTree,T,D,all,post;friHour
[K5]dataTree,T,D,all,post;sumHour
[L5]dataTree,T,D,all,post;overtimeSum
[M5]dataTree,T,D,all,post;leaveSum
[N5]dataTree,T,D,all,post;allocateHour
[O5]dataTree,T,D,all,post;comments
