[C2]filter;
[A4]dataTree,T,D,all,pre,group;dataType
[B4]dataTree,T,D;name
[C4]dataTree,T,D;plannedStart
#[D4]dataTree,T,D;timeLimitType
[E4]dataTree,T,D;plannedFinish
[F4]dataTree,T,D;duration
[G4]dataTree,T,D;actualStart
[H4]dataTree,T,D;actualFinish
#[I4]dataTree,T,D;anticipatedStart
#[J4]dataTree,T,D;anticipatedFinish
[K4]dataTree,T,D;weight
[L4]dataTree,T,D;completeRate
[M4]dataTree,T,D;manager
[N4]dataTree,T,D;completeMethod
#[O4]dataTree,T,D;code
#[P4]dataTree,T,D;wpType
[Q4]dataTree,T,D;wpPlanWkhr
[R4]dataTree,T,D;wpActWkhr
[S4]dataTree,T,D;wpReqWkhr
[T4]dataTree,T,D;wpWorker
#[U4]dataTree,T,D;wpSizePlan
#[V4]dataTree,T,D;wpSizeAct
#[W4]dataTree,T,D;wpDensityPlan
#[X4]dataTree,T,D;wpDensityAct
#[Y4]dataTree,T,D;wpDensityratePlan
#[Z4]dataTree,T,D;wpDensityrateAct
#[AA4]dataTree,T,D;wpDefectPlan
#[AB4]dataTree,T,D;wpDefectAct
#[AC4]dataTree,T,D;wpDefectratePlan
#[AD4]dataTree,T,D;wpDefectrateAct
#[AE4]dataTree,T,D;wpProductivityPlan
#[AF4]dataTree,T,D;wpProductivityAct
#[AG4]dataTree,T,D;wpAssignby
#[AH4]dataTree,T,D;wpAssigndate
#[AI4]dataTree,T,D;wpTechtype
[AJ4]dataTree,T,D;wpStatus
[AK4]dataTree,T,D;wpRemark
