[B3]budget
[E3]actualUsed
[H3]spending
[K3]left
[A30]LaborCost,L,D;user
[B30]LaborCost,L,D;rd,number
[C30]LaborCost,L,D;de,number
[D30]LaborCost,L,D;bd,number
[E30]LaborCost,L,D;tt,number
[F30]LaborCost,L,D;aw,number
[G30]LaborCost,L,D;pm,number
[H30]LaborCost,L,D;cm,number
[I30]LaborCost,L,D;cs,number
[J30]LaborCost,L,D;qa,number
[K30]LaborCost,L,D;ot,number
[L30]LaborCost,L,D;oa,number
[M30]LaborCost,L,D;total,number