[A4]tblData1,T,F,all,pre,group;code
[B4]tblData1,T,F,all,pre;wbsName
[C4]tblData1,T,F,all,pre;activityName
[D4]tblData1,T,F,all,pre;plannedStart
[E4]tblData1,T,F,all,pre;plannedFinish
#[F4]tblData1,T,F,all,pre;predecessors
#[G4]tblData1,T,F,all,pre;successors
[H4]tblData1,T,F,all,pre;milestoneImage,graphic
[I4]tblData1,T,F,all,pre;manager
[J4]tblData1,T,F,all,pre;weight
[K4]tblData1,T,F,all,pre;remarks
