[G2]period,O
[A4]tblData2,T,D,all,post,group;account
[B4]tblData2,T,D,all,post;loginId
[C4]tblData2,T,D,3,post;chineseName
[D4]tblData2,T,D,all,post;beginDate
[E4]tblData2,T,D,3,post;endDate
[F4]tblData2,T,D,all,post;days
[G4]tblData2,T,D,3,post;activity
[H4]tblData2,T,D,all,post;destAddress
[I4]tblData2,T,D,3,post;isTravellingAllowance
[J4]tblData2,T,D,3,post;evectionType
