[C2]cellData2;beginPeriod
[E2]cellData2;endPeriod
[C4]cellData2;utilizationRate
[I4]cellData2;productivityRate
[C5]cellData2;utilizationRate,number
[I5]cellData2;totalEngineerStandardTime,number
[A8]tblData2,T,F,all,post,group;accountId
[B8]tblData2,T,F,all,post;accountName
[C8]tblData2,T,F,all,post;orgName
[D8]tblData2,T,F,all,post;userName
[E8]tblData2,T,F,all,post;type
[F8]tblData2,T,F,3,post;jobCode
[G8]tblData2,T,F,3,post;positionType
[H8]tblData2,T,F,3,post;actualBeginDate,date
[I8]tblData2,T,F,3,post;actualEndDate,date
[J8]tblData2,T,F,all,post;actualWorkTime,number
[K8]tblData2,T,F,all,post;normalWorkTime,number
[L8]tblData2,T,F,all,post;overTime,number
[M8]tblData2,T,F,all,post;assignedTime,number
[N8]tblData2,T,F,2,post;accountActualTime,number
[O8]tblData2,T,F,2,post;accountEarnedTime,number
