[A5]tblData1,L,D;jobCode
[B5]tblData1,L,D;currency
[C5]tblData1,L,D;price
[D5]tblData1,L,D;budgetPm
[E5]tblData1,L,D;actualPm
[F5]tblData1,L,D;remainPm
[G5]tblData1,L,D;budgetAmt
[H5]tblData1,L,D;actualAmt
[I5]tblData1,L,D;remainAmt
[A9]tblData2,L;month
[B9]tblData2,L;budgetPm
[C9]tblData2,L;budgetAmt