[B4]acnt;id
[E4]acnt;name
[B5]acnt;manager
[E5]acnt;currency
[B6]acnt;type
[E6]acnt;organization
[B7]acnt;anticipatedStart
[E7]acnt;anticipatedFinish
[B8]acnt;plannedStart
[E8]acnt;plannedFinish
[B9]acnt;actualStart
[E9]acnt;actualFinish
[B10]acnt;status
[E10]completeRate;
[B11]acnt;brief
[A15]laborList,L,D;loginId
[B15]laborList,L,D;empName
[C15]laborList,L,D;jobCode
[D15]laborList,L,D;roleName
[E15]laborList,L,D;planStart
[F15]laborList,L,D;planFinish
[G15]laborList,L,D;planWorkTime
[H15]laborList,L,D;jobDescription
[I15]laborList,L,D;resStatus
[J15]laborList,L,D;remark