a.linkup:visited {
	font-family: "Webdings";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.linkup:link {
	font-family: "Webdings";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a.linkup:hover {
	font-family: "Webdings";
	font-size: 14px;
	color: #999933;
	text-decoration: none;
}
.np {
	font-family: "Webdings";
	font-size: 14px;
}

.project_select2{
	width:210px;
	font-size:8pt;
}
