[A5]tblData,L,D;hasAttachment
[B5]tblData,L,D;appName
[C5]tblData,L,D;relPrjType
[D5]tblData,L,D;acntId
[E5]tblData,L,D;achieveBelong
[F5]tblData,L,D;leaderName
[G5]tblData,L,D;bdName
[H5]tblData,L,D;acntName
[I5]tblData,L,D;pmName
[J5]tblData,L,D;tcName
[K5]tblData,L,D;acntFullName
[L5]tblData,L,D;productName
[M5]tblData,L,D;acntBrief
[N5]tblData,L,D;execUnitId
[O5]tblData,L,D;siteName
[P5]tblData,L,D;costAttachBd
[Q5]tblData,L,D;salesName
[R5]tblData,L,D;serviceManagerName
[S5]tblData,L,D;engageManagerName
[T5]tblData,L,D;bizSource
[U5]tblData,L,D;relParentId
[V5]tblData,L,D;contractAcntId
[W5]tblData,L,D;cusShort
[X5]tblData,L,D;projectTypeName
[Y5]tblData,L,D;productTypeName
[Z5]tblData,L,D;productAttributeName
[AA5]tblData,L,D;workItemName
[AB5]tblData,L,D;technicalDomainName
[AC5]tblData,L,D;supportLanguage
[AD5]tblData,L,D;developEnvironmentToolTip
[AE5]tblData,L,D;translatePublishTypeToolTip
[AF5]tblData,L,D;hardreq
[AG5]tblData,L,D;softreq
[AH5]tblData,L,D;projectScheduleAnticipate
[AI5]tblData,L,D;projectScheduleFact
[AJ5]tblData,L,D;estSize,number,8.2
[AK5]tblData,L,D;otherDesc
[AK5]tblData,L,D;estManmonth,number,8.2
[AL5]tblData,L,D;primaveraAdaptedValue
[AM5]tblData,L,D;billingBasisValue