<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>
</head>

<body>

Dear $addressee,
<br />
<br />
You have unfilled or unsubmitted timecard.
<br />
Please log on at <a href="http://timecard.wistronits.com/">http://timecard.wistronits.com/</a> to complete the process by this Friday.
<br/>
Thank you.
<br />
<br>
<table width="450" border="1" cellpadding="1" cellspacing="1" bordercolor="#0099FF">
  <tr>
    <td width="150" bgcolor="#94AAD6"><font color="#FFFFFF">From</font></td>
    <td width="150" bgcolor="#94AAD6"><font color="#FFFFFF">To</font></td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF">Status</font></td>
  </tr>
  #foreach ($dd in $content)
  <tr>
    <td width="150">$dd.beginDate</td>
    <td width="150">$dd.endDate</td>
    <td width="150">$dd.type</td>
  </tr>
  #end
</table>
<br />
--------------------------------------------------
<br />
This message was sent automatically by ESSP, please do not reply.<br />
<br />
Best regard,<br />
$addresser<br />
$date
</body>
</html>
