<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>
</head>

<body>

Dear,$addressee:
<br />
<br />
Please fill or lock the Weekly Report as soon as possible! <br />
<br>
<table width="450" border="1" cellpadding="1" cellspacing="1" bordercolor="#0099FF">
  <tr>
    <td width="150" bgcolor="#94AAD6"><font color="#FFFFFF"><strong>Begin</strong> </font></td>
    <td width="150" bgcolor="#94AAD6"><strong><font color="#FFFFFF">Finish</font></strong> </td>
    <td width="150" bgcolor="#94aad6"><font color="#FFFFFF"><strong>Status</strong></font></td>
  </tr>
  #foreach ($dd in $content)
  <tr>
    <td width="150">$dd.beginDate</td>
    <td width="150">$dd.endDate</td>
    <td width="150">$dd.type</td>
  </tr>
  #end
</table>
<br />
--------------------------------------------------
<br />
Best regard!<br />
The above information was sent by ESSP automatically, you need not reply.<br />
<br />
$addresser<br />
$date
</body>
</html>
