<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>essp</display-name>
  <description>Tomcat Example servlets and JSP pages.</description> 
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:sysCfg/applicationContext*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>crystal_image_uri</param-name>
    <param-value>crystalreportviewers10</param-value>
  </context-param>
  <context-param>
 	<param-name>extremecomponentsResourceBundleLocation</param-name>
 	<param-value>org.extremecomponents.table.resource.extremetableResourceBundle</param-value>
  </context-param>

  <filter>
    <filter-name>Charset Encoding Filter</filter-name>
    <filter-class>server.framework.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Charset Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Validate Session Filter</filter-name>
    <filter-class>server.framework.filter.SessionValidateFilter</filter-class>
    <init-param>
      <param-name>ignoreUri</param-name>
      <param-value>login.jsp,timeout.jsp,login.do,logout.do</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>user</param-value>
    </init-param>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/essp/timeout.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Validate Session Filter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>Validate Session Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>PmsAccountServlet</servlet-name>
    <servlet-class>com.enovation.essp.pms.servlet.PmsAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PmsServlet</servlet-name>
    <servlet-class>com.enovation.essp.pms.servlet.PmsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>switch</servlet-name>
    <servlet-class>com.enovation.essp.system.servlet.Switch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAP Monitor Service</display-name>
    <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>salesoppcodepro</servlet-name>
    <servlet-class>com.enovation.essp.sales.SalesOppCodePro</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>server.framework.action.AutoConfigActionServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>server.framework.controller.BusinessController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>server.framework.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>server.framework.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcelExport</servlet-name>
    <servlet-class>server.essp.common.excelUtil.AcExcel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletInvoker</servlet-name>
    <servlet-class>server.framework.controller.ServletInvoker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>debugjsp</servlet-name>
    <description>Added to compile JSPs with debug info</description>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>classdebuginfo</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet>
	<servlet-name>dwr-invoker</servlet-name>
	<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
	<init-param>
		<param-name>debug</param-name>
		<param-value>false</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>dwr-invoker</servlet-name>
	<url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelExport</servlet-name>
    <url-pattern>/ExcelExport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInvoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PmsAccountServlet</servlet-name>
    <url-pattern>/servlet/PmsAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PmsServlet</servlet-name>
    <url-pattern>/servlet/PmsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>switch</servlet-name>
    <url-pattern>/switch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>salesoppcodepro</servlet-name>
    <url-pattern>/salesoppcodepro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>debugjsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>600</session-timeout>
  </session-config>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/crystal-tags-reportviewer.tld</taglib-uri>
    <taglib-location>/WEB-INF/crystal-tags-reportviewer.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/wits-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/wits-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/wits-script</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-script.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/wits-select</taglib-uri>
    <taglib-location>/WEB-INF/tld/selectAssociate.tld</taglib-location>
  </taglib>
   <taglib>
    <taglib-uri>/tags/fckeditor</taglib-uri>
    <taglib-location>/WEB-INF/tld/FCKeditor.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/tld/extremecomponents</taglib-uri>
    <taglib-location>/WEB-INF/tld/extremecomponents.tld</taglib-location>
  </taglib>
    <!-- add by yery on 2005/11/4 for handling Special files -->
  <mime-mapping>
      <extension>csv</extension>
      <mime-type>text/csv</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>CSV</extension>
      <mime-type>text/csv</mime-type>
  </mime-mapping>
  <mime-mapping>
       <extension>xls</extension>
       <mime-type>application/vnd.ms-excel</mime-type>
   </mime-mapping>
  <mime-mapping>
       <extension>XLS</extension>
       <mime-type>application/vnd.ms-excel</mime-type>
   </mime-mapping>
  <mime-mapping> 
      <extension>doc</extension> 
      <mime-type>application/self-define</mime-type> 
  </mime-mapping> 
  <mime-mapping> 
      <extension>DOC</extension> 
      <mime-type>application/self-define</mime-type> 
  </mime-mapping> 
    <mime-mapping>
      <extension>eml</extension>
      <mime-type>message/rfc822</mime-type>
    </mime-mapping>
  
</web-app>
