<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>crm</display-name>
  <description>Tomcat Example servlets and JSP pages.</description>
    <filter>
    <filter-name>Charset Encoding Filter</filter-name>
    <filter-class>server.framework.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Charset Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-issue.xml,/WEB-INF/struts-config-hr-res.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>server.framework.controller.BusinessController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletInvoker</servlet-name>
    <servlet-class>server.framework.controller.ServletInvoker</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ExcelExport</servlet-name>
    <servlet-class>server.essp.common.excelUtil.AcExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInvoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelExport</servlet-name>
    <url-pattern>/ExcelExport</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.htm</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/wits-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/wits-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/tags/wits-script</taglib-uri>
    <taglib-location>/WEB-INF/tld/wits-script.tld</taglib-location>
  </taglib>
</web-app>
