[A2]tblData,L,D;employeeId
[B2]tblData,L,D;englishName
[C2]tblData,L,D;chineseName
[D2]tblData,L,D;title
[E2]tblData,L,D;rank
[F2]tblData,L,D;resManagerId
[G2]tblData,L,D;resManagerName
[H2]tblData,L,D;site
[I2]tblData,L,D;unitCode
[J2]tblData,L,D;isDirectName
[K2]tblData,L,D;inDate
[L2]tblData,L,D;outDate
[M2]tblData,L,D;onJob
[N2]tblData,L,D;effectiveDate
[O2]tblData,L,D;hrAttribute
[P2]tblData,L,D;attribute
[Q2]tblData,L,D;isFormalName
[R2]tblData,L,D;email
