.np {
	font-family: "Webdings";
	font-size: 14px;
	color: #003399;
}
.line3 {
	background-color: #DDDDFF;
}
.line2 {
	background-color: #eeeeee;
}
.body {
       background-color: #dddddd;
}
.subbody {
       background-color: #eeeeee;
}

