[B2]empName;
[E2]empId
[H2]unitCode
[J2]dateStr
[A5]actHoursList,L,D;projId
[B5]actHoursList,L,D;projName
[C5]actHoursList,L,D;unitCode
[D5]actHoursList,L,D;description
[E5]actHoursList,L,D;monHours
[F5]actHoursList,L,D;tueHours
[G5]actHoursList,L,D;wedHours
[H5]actHoursList,L,D;thursHours
[I5]actHoursList,L,D;friHours
[J5]actHoursList,L,D;satHours
[K5]actHoursList,L,D;sunHours
[L5]actHoursList,L,D;sumHours
[M5]actHoursList,L,D;managerName
[A7]otHoursList,L,D;projId
[B7]otHoursList,L,D;projName
[C7]otHoursList,L,D;unitCode
[D7]otHoursList,L,D;description
[E7]otHoursList,L,D;monHours
[F7]otHoursList,L,D;tueHours
[G7]otHoursList,L,D;wedHours
[H7]otHoursList,L,D;thursHours
[I7]otHoursList,L,D;friHours
[J7]otHoursList,L,D;satHours
[K7]otHoursList,L,D;sunHours
[L7]otHoursList,L,D;sumHours
[M7]otHoursList,L,D;managerName
[A9]leaveHoursList,L,D;projId
[B9]leaveHoursList,L,D;projName
[C9]leaveHoursList,L,D;unitCode
[D9]leaveHoursList,L,D;description
[E9]leaveHoursList,L,D;monHours
[F9]leaveHoursList,L,D;tueHours
[G9]leaveHoursList,L,D;wedHours
[H9]leaveHoursList,L,D;thursHours
[I9]leaveHoursList,L,D;friHours
[J9]leaveHoursList,L,D;satHours
[K9]leaveHoursList,L,D;sunHours
[L9]leaveHoursList,L,D;sumHours
[M9]leaveHoursList,L,D;managerName
[A10]standardHoursList,L;projId
[B10]standardHoursList,L;projName
[C10]standardHoursList,L;unitCode
[D10]standardHoursList,L;description
[E10]standardHoursList,L;monHours
[F10]standardHoursList,L;tueHours
[G10]standardHoursList,L;wedHours
[H10]standardHoursList,L;thursHours
[I10]standardHoursList,L;friHours
[J10]standardHoursList,L;satHours
[K10]standardHoursList,L;sunHours
[L10]standardHoursList,L;sumHours
[M10]standardHoursList,L;managerName

