[C1]title;
[A4]beanList,T,D,all,pre,group;acntId
[B4]beanList,T,D;acntName
[C4]beanList,T,D;janBusyRate
[D4]beanList,T,D;febBusyRate
[E4]beanList,T,D;marBusyRate
[F4]beanList,T,D;aprBusyRate
[G4]beanList,T,D;mayBusyRate
[H4]beanList,T,D;junBusyRate
[I4]beanList,T,D;julBusyRate
[J4]beanList,T,D;augBusyRate
[K4]beanList,T,D;sepBusyRate
[L4]beanList,T,D;octBusyRate
[M4]beanList,T,D;novBusyRate
[N4]beanList,T,D;decBusyRate
[O4]beanList,T,D;assginHours
[P4]beanList,T,D;validHours
[Q4]beanList,T,D;invalidHours
[R4]beanList,T,D;actualHours

