[B2]projectName;
[A4]beanList,T,D,all,pre,group;name
[B4]beanList,T,D;stepName
[C4]beanList,T,D;categoryDes
[D4]beanList,T,D;statusIndicator
[E4]beanList,T,D;status
[F4]beanList,T,D;complete
[G4]beanList,T,D;resourceNames
[H4]beanList,T,D;resourceIds
[I4]beanList,T,D;managerName
[J4]beanList,T,D;managerId
[K4]beanList,T,D;planStart
[L4]beanList,T,D;planFinish
[M4]beanList,T,D;planHours
[N4]beanList,T,D;actualStart
[O4]beanList,T,D;actualFinish
[P4]beanList,T,D;actualHours


