[C1]title;
[A4]beanList,T,D,all,pre,group;acntId
[B4]beanList,T,D;acntName
[C4]beanList,T,D;janUtilRate
[D4]beanList,T,D;febUtilRate
[E4]beanList,T,D;marUtilRate
[F4]beanList,T,D;aprUtilRate
[G4]beanList,T,D;mayUtilRate
[H4]beanList,T,D;junUtilRate
[I4]beanList,T,D;julUtilRate
[J4]beanList,T,D;augUtilRate
[K4]beanList,T,D;sepUtilRate
[L4]beanList,T,D;octUtilRate
[M4]beanList,T,D;novUtilRate
[N4]beanList,T,D;decUtilRate
[O4]beanList,T,D;standardHours
[P4]beanList,T,D;validHours
[Q4]beanList,T,D;invalidHours
[R4]beanList,T,D;actualHours

