[A3]beanList,T,D,all,pre,group;category
[B3]beanList,T,D;name
[C3]beanList,T,D;wbsCode
[D3]beanList,T,D;wbsName
[E3]beanList,T,D;managerId
[F3]beanList,T,D;manager
[G3]beanList,T,D;planStart
[H3]beanList,T,D;planFinish
[I3]beanList,T,D;actualStart
[J3]beanList,T,D;actualFinish
[K3]beanList,T,D;resourceIds
[L3]beanList,T,D;resources
[M3]beanList,T,D;status
[N3]beanList,T,D;statusIndicator
[O3]beanList,T,D;function
[P3]beanList,T,D;isCorp
[Q3]beanList,T,D;procWt
[R3]beanList,T,D;actualCostTime
[S3]beanList,T,D;planDuration
[T3]beanList,T,D;earliestStart
[U3]beanList,T,D;atLatestStart
[V3]beanList,T,D;earliestFinish
[W3]beanList,T,D;atLatestFinish
[X3]beanList,T,D;estimatefinish
