[B2]period,O
[A4]tblData,L,D;workDate
[B4]tblData,L,D;projectId
[C4]tblData,L,D;projectName
[D4]tblData,L,D;deptId
[E4]tblData,L,D;loginId
[F4]tblData,L,D;name
[G4]tblData,L,D;jobCode
[H4]tblData,L,D;jobCodeDesc
[I4]tblData,L,D;jobDesc
[J4]tblData,L,D;normalWorkHours
[K4]tblData,L,D;leaveHours
[L4]tblData,L,D;overTimeHours
[M4]tblData,L,D;total,number