[A4]beanList,L,D;seq
[B4]beanList,L,D;unitCode
[C4]beanList,L,D;projCode
[D4]beanList,L,D;empId
[E4]beanList,L,D;empName
[F4]beanList,L,D;fullHours
[G4]beanList,L,D;actualHours
[H4]beanList,L,D;projActHours
[I4]beanList,L,D;inProjRate
[J4]beanList,L,D;personMath
[K4]beanList,L,D;lateNum
[L4]beanList,L,D;outProjHours
[M4]beanList,L,D;sickLeave
[N4]beanList,L,D;privateLeave
[O4]beanList,L,D;absenteeism
[P4]beanList,L,D;othersDuduct
[Q4]beanList,L,D;deductSum
[R4]beanList,L,D;shiftAdjsut
[S4]beanList,L,D;annualLeave
[T4]beanList,L,D;marrigeLeave
[U4]beanList,L,D;funeralLeave
[V4]beanList,L,D;maternityLeave
[W4]beanList,L,D;lactationLeave
[X4]beanList,L,D;workInjuryLeave
[Y4]beanList,L,D;medicalLeave
[Z4]beanList,L,D;othersNondeduct
[AA4]beanList,L,D;nondeductSum
[AB4]beanList,L,D;remark