[A3]tblData,L,D;unitCode
[B3]tblData,L,D;unitName
[C3]tblData,L,D;empId
[D3]tblData,L,D;empName
[E3]tblData,L,D;empProperty
[F3]tblData,L,D;beginDate
[G3]tblData,L,D;endDate
[H3]tblData,L,D;standarHours
[I3]tblData,L,D;actualHours
[J3]tblData,L,D;normalHours
[K3]tblData,L,D;overtimeHours
[L3]tblData,L,D;leaveHours
[M3]tblData,L,D;sumBalance