[A3]beanList,L,D;compId
[B3]beanList,L,D;empId
[C3]beanList,L,D;empName
[D3]beanList,L,D;prjCode
[E3]beanList,L,D;prjName
[F3]beanList,L,D;phaseCode
[G3]beanList,L,D;showAchieveBelong
[H3]beanList,L,D;year,number
[I3]beanList,L,D;month,number
[J3]beanList,L,D;workHours,number,8.2
[K3]beanList,L,D;leaveHours,number,8.2
[L3]beanList,L,D;overtimeHours,number,8.2