[B2]period,O
[A5]tblData,L,D;projectId
[B5]tblData,L,D;projectName
[C5]tblData,L,D;projectType
[D5]tblData,L,D;deptId
[E5]tblData,L,D;deptName
[F5]tblData,L,D;empId
[G5]tblData,L,D;empName
[H5]tblData,L,D;empType
[I5]tblData,L,D;queryFlag
[J5]tblData,L,D;empProperty
[K5]tblData,L,D;beginDate
[L5]tblData,L,D;endDate
[M5]tblData,L,D;actualHours
[N5]tblData,L,D;normalHours
[O5]tblData,L,D;overtimeHours
[P5]tblData,L,D;assignedHours