[B1]accountName;
[A2]yesterday;
[A5]yesterdayData,T,D,all,pre,group;activityName
[B5]yesterdayData,T,D;item
[C5]yesterdayData,T,D;completePcr
[D5]yesterdayData,T,D;resourceId
[E5]yesterdayData,T,D;resourceName
[F5]yesterdayData,T,D;planStart
[G5]yesterdayData,T,D;planFinish
[H5]yesterdayData,T,D;actualStart
[I5]yesterdayData,T,D;actualFinish
[J5]yesterdayData,T,D;status
[K5]yesterdayData,T,D;statusIndicator
[L5]yesterdayData,T,D;remark
[A8]today;
[A11]todayData,T,D,all,pre,group;activityName
[B11]todayData,T,D;item
[C11]todayData,T,D;completePcr
[D11]todayData,T,D;resourceId
[E11]todayData,T,D;resourceName
[F11]todayData,T,D;planStart
[G11]todayData,T,D;planFinish
[H11]todayData,T,D;actualStart
[I11]todayData,T,D;actualFinish
[J11]todayData,T,D;status
[K11]todayData,T,D;statusIndicator
[L11]todayData,T,D;remark