[C1]createDate;
[C2]dateScope;
[A6]fillList,L,D;begin
[B6]fillList,L,D;end
[C6]fillList,L,D;needFillNum
[D6]fillList,L,D;unfillNum
[E6]fillList,L,D;activeNum
[F6]fillList,L,D;submittedNum
[G6]fillList,L,D;pmApprovedNum
[H6]fillList,L,D;rmApprovedNum
[I6]fillList,L,D;approvedNum
[J6]fillList,L,D;rejectedNum
[K6]fillList,L,D;sum
[A10]unfillList,L;begin
[B10]unfillList,L;end
[C10]unfillList,L;unfillNum
[D10]unfillList,L;activeNum
[E10]unfillList,L;submittedNum
[F10]unfillList,L;pmApprovedNum
[G10]unfillList,L;rmApprovedNum
[H10]unfillList,L;approvedNum
[I10]unfillList,L;rejectedNum
[J10]unfillList,L;sum
