

<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>
    
  </head>
  
  <body>
    Dear $addressee:
<br>
<br>
#foreach($dd in $content)
&nbsp;&nbsp;&nbsp;&nbsp;A "project close" application has just been submitted!
<br>    

<br>
<table width="787" border="1" cellpadding="1" cellspacing="1" bordercolor="#0099FF" style='word-break:break-all;'>
<tr>
  <td width="188" bgcolor="#94aad6">
					申請人
				</td>
  <td colspan="3">$!dd.applicant&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案全名
				</td>
  <td colspan="3" width="599">$!dd.acntFullName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					業務經理
				</td>
  <td width="195">$!dd.leader&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					專案經理
				</td>
  <td width="187">$!dd.PMName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					工時表簽核者
				</td>
  <td width="195">$!dd.TCSName&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					BD主管
				</td>
  <td width="187">$!dd.BDName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案簡稱
				</td>
  <td width="195">$!dd.acntName&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					專案代碼
				</td>
  <td width="187">$!dd.acntId&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案內容簡述 
				</td>
  <td colspan="3" width="599">$!dd.acntBrief&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案屬性
				</td>
  <td width="195">$!dd.acntAttribute&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					專案進度(預期) 
				</td>
  <td width="187">$!dd.acntAnticpated&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					產品類型
				</td>
  <td width="195">$!dd.productType&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					產品屬性
				</td>
  <td width="187">$!dd.productAttribute&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					工作項目
				</td>
  <td colspan="3" width="599">$!dd.workItem&nbsp;</td>
</tr>
</table>
<br />
#end
--------------------------------------------------
<br />
Best regard!<br />
The above information was sent by ESSP automatically, you need not reply.<br />
<br />
$addresser<br />
$date
  </body>
</html>
