

<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>
    
  </head>
  
  <body>
    Dear $addressee:
<br>
<br>
#foreach($dd in $content)
&nbsp;&nbsp;&nbsp;&nbsp;A project need to be closed, please check it!
<br>    

<br>
<table width="787" border="1" cellpadding="1" cellspacing="1" bordercolor="#0099FF" style='word-break:break-all;'>
<tr>
  <td width="188" bgcolor="#94aad6">
					申請人
				</td>
  <td >$!dd.appName&nbsp;</td>
  <td width="188" bgcolor="#94aad6">專案經理 </td>
  <td >$!dd.pmName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案全名
				</td>
  <td colspan="3" width="599">$!dd.acntFullName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					專案代碼 
				</td>
  <td width="195">$!dd.acntId&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					專案簡稱
				</td>
  <td width="187">$!dd.acntName&nbsp;</td>
</tr>
<tr>
  <td width="188" bgcolor="#94aad6">
					預計開始 
				</td>
  <td width="195">$!dd.plannedStartString&nbsp;</td>
  <td width="194" bgcolor="#94aad6">
					預計結束
				</td>
  <td width="187">$!dd.plannedFinishString&nbsp;</td>
</tr>
</table>
<br />
#end
--------------------------------------------------
<br />
Best regard!<br />
The above information was sent by ESSP automatically, you need not reply.<br />
<br />
$addresser<br />
$date
  </body>
</html>
