

<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESSP System Mail</title>

</head>
  
  <body >
   Dear $addressee:
<br>
<br>
#foreach($dd in $content)
&nbsp;&nbsp;&nbsp;&nbsp;A "deptment change" application has just been rejected!
<br>    

<br>
<div align="left"><FONT color="red">拒絕申請原因<FONT face="Times New Roman" size="4">&quot;</FONT>$!dd.remark<FONT face="PMingLiU"><FONT size="4">&quot;</FONT><FONT color="#0000ff" size="2"> </FONT></FONT></FONT></div>
<table width="900" border="1" bordercolor="#0099FF" style='word-break:break-all;'>
   <tr>
   <td bgcolor="#94aad6">
   申請人
   </td>
   <td >
   $!dd.applicantName&nbsp;
   </td>
   <td bgcolor="#94aad6">申請時間</td>
   <td >$!dd.applicationDate&nbsp;</td>
   </tr>
   
    </table>
    <table border="1" width="900" bordercolor="#0099FF" id="masterTable" style='word-break:break-all;'>
    <tr>
    <td bgcolor="#94aad6" width="150">
    選項 
    </td>
    <td bgcolor="#94aad6" width="375">
    修改前
    </td>
     <td bgcolor="#94aad6" width="375">
     修改後 
    </td>

    </tr>
    <tr>
    <td bgcolor="#94aad6">
    部門代碼
    </td>
    <td >$!dd.acntIdBefore&nbsp;</td>
    <td >$!dd.acntId&nbsp;</td>
   
    </tr>
     <tr>
    <td bgcolor="#94aad6">
    部門簡稱
    </td>
    <td >$!dd.acntNameBefore&nbsp;</td>
    <td >$!dd.acntName&nbsp;</td>
   
    </tr>
    <tr>
    <td bgcolor="#94aad6">
    部門全名
    </td>
    <td >$!dd.acntFullNameBefore&nbsp;</td>
    <td >$!dd.acntFullName&nbsp;</td>
   
    </tr>
    <tr>
    <td bgcolor="#94aad6">
    業績歸屬單位
    </td>
    <td >$!dd.achieveBelongBefore&nbsp;</td> 
    <td >$!dd.achieveBelong&nbsp;</td>
 
    </tr>
     <tr>
    <td bgcolor="#94aad6">
   上級部門
    </td>
    <td width="375">$!dd.parentDeptBefore&nbsp;</td> 
    <td width="375">$!dd.parentDept&nbsp;</td>
    </tr>
     <tr>
    <td bgcolor="#94aad6">
   部門經理 
    </td>
    <td >$!dd.deptManagerBefore&nbsp;</td> 
    <td >$!dd.deptManager&nbsp;</td>
    </tr>
     <tr>
    <td bgcolor="#94aad6">
   BD主管
    </td>
    <td >$!dd.bdNameBefore&nbsp;</td> 
    <td >$!dd.bdName&nbsp;</td>
    </tr>
     <tr>
    <td bgcolor="#94aad6">
   工時表簽核者
    </td>
    <td >$!dd.tcsNameBefore&nbsp;</td> 
    <td >$!dd.tcsName&nbsp;</td>
    </tr>
     <tr>
    <td bgcolor="#94aad6">
   有效否
    </td>
    <td >$!dd.isEnableBefore&nbsp;</td> 
    <td >$!dd.isEnable&nbsp;</td>
    </tr>
   </table>
   
<br />
#end
--------------------------------------------------
<br />
Best regard!<br />
The above information was sent by ESSP automatically, you need not reply.<br />
<br />
$addresser<br />
$date
  </body>
</html>
