[A6]tblData,T,F,all,pre,group;issueId,formula
[B6]tblData,T,F,all,pre;issueTitle
[C6]tblData,T,F,all,pre;desc
[D6]tblData,T,F,all,pre;issueType
[E6]tblData,T,F,all,pre;priority
[F6]tblData,T,F,all,pre;status
[G6]tblData,T,F,all,pre;filledBy
[H6]tblData,T,F,all,pre;principal
[I6]tblData,T,F,all,pre;filledDate
[J6]tblData,T,F,all,pre;dueDate
[K6]tblData,T,F,all,pre;resolution
[L6]tblData,T,F,all,pre;impactLevel
[M6]tblData,T,F,all,pre;round
[N6]tblData,T,F,all,pre;topicTitle,formula
[O6]tblData,T,F,all,pre;topicType,formula
[P6]tblData,T,F,all,pre;topicWho
[Q6]tblData,T,F,all,pre;topicDate
[R6]tblData,T,F,all,pre;topicDesc
[S6]tblData,T,F,all,pre;remark
[T6]tblData,T,F,all,pre;solvedDesc
[U6]tblData,T,F,all,pre;confirmDate
[V6]tblData,T,F,all,pre;confirmBy
[W6]tblData,T,F,all,pre;instructionOfClosure