[A6]tblData,L;issueId,formula
[B6]tblData,L;issueTitle
[C6]tblData,L;desc
[D6]tblData,L;issueType
[E6]tblData,L;priority
[F6]tblData,L;status
[G6]tblData,L;filledBy
[H6]tblData,L;principal
[I6]tblData,L;filledDate
[J6]tblData,L;dueDate
[K6]tblData,L;resolution
[L6]tblData,L;impactLevel
[M6]tblData,L;round
[N6]tblData,L;topicTitle,formula
[O6]tblData,L;topicType
[P6]tblData,L;topicWho
[Q6]tblData,L;topicDate
[R6]tblData,L;topicDesc
[S6]tblData,L;remark
[T6]tblData,L;solvedDesc
[U6]tblData,L;confirmDate
[V6]tblData,L;confirmBy
[W6]tblData,L;instructionOfClosure
